html body{
	width:100vw;
	height:100vh;
	background-color: #F3F5F8;
}


#container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	min-height: 55vh;
	min-width: 60vw;
	width: 400px;
	margin:auto;
	margin-top:8rem;
	background-color: white;
	border-radius: 20px;
	border-bottom-right-radius: 20%;
}


#data-input {
	margin-top: 3em;
	margin-left: 1rem;
	display: grid;
	grid-template-rows: repeat(2, 2.5vh);
	grid-template-columns: repeat(3, 10vw);
	grid-column-gap: 1.5rem;
	grid-row-gap: : 1.5rem;
}

#data-input > label{
	text-transform: uppercase;
	opacity: 0.65;
	font-size: 0.7rem;
}

#data-input > input{
	font-weight: 700;
	opacity: 1.5;
	font-size: 1rem;
}

#data-input > input:hover{
	cursor: pointer;
}

.secondary{
	margin-top: 1rem;
	display: flex;
	align-items: flex-start;
}

.secondary > hr {
	opacity: 0.6;	
	width: 40vw;
	margin-top: 1.5rem;
}

.secondary > #calculateButton{
	background-image: url(/Users/mioaracenusa/Documents/GitHub/age-calculator.github.io/assets/images/icon-arrow.svg);
	background-color: #A930EC;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.secondary > #calculateButton:hover {
	background-color: black;
	cursor: pointer;
}
#results {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: Poppins, sans-serif;
	font-size:3rem;
	font-weight: 800;
	margin-left: 1rem;
	padding:5px;
}

#results > p {
	margin:0.5px;
}

#results > p > span{
	color: #A930EC;
}

#container > footer{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin-left: 15vw;
	margin-top: auto;
	margin-bottom: 3vh;
}

.attribution { 
	font-size: 11px; 
	text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}


.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-label {
  color: red;
}

.error-input {
  border: 1px solid red;
}

